/* 
 * You can adjust the appearance of the page by modifying style.css.
 * Then you have to upload the style.css to the server.
 * Finally, enter the remote link for style.css in the input box above.
 */

body {
    /* You can write anything you want. */
}

